In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)

In [11]:
#Make Sure Within the directory, only conain files that required update
cd ~/Desktop/COVID-19-master/archived_data/archived_daily_case_updates

C:\Users\alexl\Desktop\COVID-19-master\archived_data\archived_daily_case_updates

In [12]:
import glob
#grap all the csv file names
# The * is not a regex, it just means "match anything"
# This matches 01-22-2020.csv, 01-23-2020.csv, etc.
list_of_dfs = []
for filename in glob.glob("*.csv"):
        list_of_dfs.append(pd.read_csv(filename))

In [17]:
list_of_dfs[0].head()

  Province/State  Country/Region     Last Update  Confirmed  Deaths  Recovered  Suspected
0          Anhui  Mainland China  1/21/2020 10pm        NaN     NaN        NaN        3.0
1        Beijing  Mainland China  1/21/2020 10pm       10.0     NaN        NaN        NaN
2      Chongqing  Mainland China  1/21/2020 10pm        5.0     NaN        NaN        NaN
3      Guangdong  Mainland China  1/21/2020 10pm       17.0     NaN        NaN        4.0
4        Guangxi  Mainland China  1/21/2020 10pm        NaN     NaN        NaN        1.0

In [21]:
#process column names, standardise 
n=len(list_of_dfs)
column_names = set()
for i in range(n):
    for col in list_of_dfs[i].columns:
        if col not in column_names:
            column_names.add(col)
column_names

{'Confirmed',
 'ConfnSusp',
 'Country/Region',
 'Country_Region',
 'Deaths',
 'Last Update',
 'Last_Update',
 'Notes',
 'Province/State',
 'Province_State',
 'Recovered',
 'Suspected'}

In [27]:
#Only certain columns are required from the files
column_names_needed = ['Province_State','Country_Region','Last_Update','Confirmed','Deaths','Recovered']

In [28]:
update_column_names = {'Country/Region':'Country_Region','Last Update':'Last_Update','Lat':'Latitude','Long_':'Longitude','Province/State':'Province_State'}
for i in range(n):
     list_of_dfs[i].rename(columns=update_column_names, inplace=True)

In [29]:
#adjust columns orders and create new columns ready to combine
for i in range(n):
    for col in column_names:
        if col not in list_of_dfs[i]:
            list_of_dfs[i][col]=np.nan
column_name_ordered = column_names_needed
for i in range(n):
    list_of_dfs[i]=list_of_dfs[i][column_name_ordered]
combined_df = pd.concat(list_of_dfs)
combined_df.head()

   Province_State  Province_State  Country_Region  Country_Region     Last_Update  Last_Update  Confirmed  Deaths  Recovered
0           Anhui             NaN  Mainland China             NaN  1/21/2020 10pm          NaN        NaN     NaN        NaN
1         Beijing             NaN  Mainland China             NaN  1/21/2020 10pm          NaN       10.0     NaN        NaN
2       Chongqing             NaN  Mainland China             NaN  1/21/2020 10pm          NaN        5.0     NaN        NaN
3       Guangdong             NaN  Mainland China             NaN  1/21/2020 10pm          NaN       17.0     NaN        NaN
4         Guangxi             NaN  Mainland China             NaN  1/21/2020 10pm          NaN        NaN     NaN        NaN

In [ ]:
#I realized inconsistency of country names: eg China and Mianland China, UK and United Kingdom.
#Adjust inconsistency in naming
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Mainland China','China')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('UK','United Kingdom')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Bahamas, The','Bahamas')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Gambia, The','Gambia')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Gambia, The','Gambia')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Guinea-Bissau, The','Guinea')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Iran (Islamic Republic of)','Iran')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Ireland','Ireland')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Ireland','Ireland')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Korea','Korea')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Moldova','Moldova')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Korea','Korea')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of the Congo','Congo')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Taipei and environs','Taiwan*')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Taiwan','Taiwan*')
combined_df['Province_State'] = combined_df['Province_State'].replace('Unknown',np.nan)
combined_df.head()

In [36]:
#save combined_df DataFrame to additional_data.csv
combined_df.to_csv('~/Desktop/COVID-19-master/additional_data.csv')

In [40]:
cd ~/Desktop/COVID-19-master

C:\Users\alexl\Desktop\COVID-19-master

In [44]:
modified_add_data = pd.read_csv('additional_data.csv')
modified_add_data.head()

  Province_State  Country_Region     Last_Update  Confirmed  Deaths  Recovered               Combined_Key
0          Anhui  Mainland China  1/21/2020 10pm        NaN     NaN        NaN      Anhui ,Mainland China
1        Beijing  Mainland China  1/21/2020 10pm       10.0     NaN        NaN    Beijing ,Mainland China
2      Chongqing  Mainland China  1/21/2020 10pm        5.0     NaN        NaN  Chongqing ,Mainland China
3      Guangdong  Mainland China  1/21/2020 10pm       17.0     NaN        NaN  Guangdong ,Mainland China
4        Guangxi  Mainland China  1/21/2020 10pm        NaN     NaN        NaN    Guangxi ,Mainland China